.container {
  position: relative;
  min-height:100%;
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
}

h1 {
  font-size: 32pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 28pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  margin-bottom: 20px;
}

body {
  height:100%;
  font-family: 'Roboto', sans-serif;
}

.home-container {
  background-image:url('/doge_bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 400px;
}

nav {
  width: 100%;
  height: 50px;
  font-weight: bold;
  box-shadow: 0 0 10px gray;
  background-color: white;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav .logo img {
  height: 35px;
  float: left;
  padding-right: 10px;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  padding-top: 10px;
  background-color: white;
  font-size: 10pt;
  color: black;
  font-weight: 100;
  text-align: center;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

.survey-name {
  display: inline-block;
}

.survey-link {
  display: inline-block;
}

.survey-stats {
  display: inline-block;
}

.adjustable {
  background-color: black;
  display: inline-block;
  width: 30px;
}

.question1 {
  background-color: red;
}

.question2 {
  background-color: blue;
}

.question3 {
  background-color: orange;
}

.question4 {
  background-color: green;
}

.question5 {
  background-color: pink;
}

.question6 {
  background-color: purple;
}

.question7 {
  background-color: grey;
}

.question8 {
  background-color: yellow;
}

#create-survey {
  color: white;
  display: block;
  background-color: #FA8805;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid darkgray;
  width: 300px;
  text-shadow: 0 0 3px black;
/*  height: 30px;*/
}

#button-text {

}
.center {
  text-align: center;
}

#doge-container {
  width: 400px;
}

.doge-carousel {
  overflow:hidden;
  width:100%;
}

.doge-frames {
  position: relative;
  /*width: 1000%;*/
  /*set width with javascript to 100 * the number of questions + %*/
  overflow: hidden;
  left: 0%;
}

.doge-item {
  position: relative;
  /*width: 10%;*/
  /*set width with javascript to 100 / the number of questions + %*/
  float: left;
}

#next-question{
}


