<h2><%=@username%></h2>
<h3 id='surveys'>Surveys</h3>
<% @surveys.each do |survey| %>
<div class='survey-name'>
  <%= survey.name %>
</div>
<div class='survey-link'>
  <button onclick="location.href='/survey/<%= survey.id %>';">Link</button>
</div>
<div class='survey-stats'>
  <button onclick="location.href='/survey/stats/<%= survey.id %>';">Stats</button>
</div>
<% end %>

