<div class="home-container">
  <div class="center">
    <h1>Create and manage surveys.</h1>
    <h2>Much poll, pls take.</h2>
  <button id='create-survey' onclick="location.href = '/new/survey';">Create Survey</button>
</div>
</div>
