<div class="container">
  <div class="center">
    <h1>Create and manage surveys.</h1>
    <h2>Pls take, such database.</h2>
  <button id='create-survey' onclick="location.href = '/new/survey';">Create Survey</button>
</div>
</div>
