<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700,900' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/doge_favicon.png" sizes="128x128">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div id="wrapper">
    <div class="nav">
      <div class="brand">
        <a href="/">
        <div class="logo"><img src="/doge_face.png"></div>
        <%= WEBSITE_NAME %></a>
      </div>

      <ul>
        <% if current_user %>
          <li><a href="/user/<%=current_user.id%>" id="user">My Surveys</a></li>
          <li><a id="sign-out" href="/sessions/<%= current_user.id %>">Sign Out</a></li>
        <% else %>
          <li><a href="/sessions/new">Sign In</a></li>
          <li><a href="/users/new">Sign Up</a></li>
        <% end %>
      </ul>

    </div>
    <div class="content">
    <%= yield %>
    </div>
    <div class="footer">
      <p>Team Doge: Many Shawn, Such Danny, Wow Sam, Very Steve, So Brian, Much Gary.</p>
    </div>
  </div>
</body>
</html>
