<div id="question-and-buttons">

  <div id="new-question-container">
    <input type='text' id='title' placeholder='Survey Title' name='title'><br>
    <input type='text' class='new-question' placeholder='Question' tag='question' name='question1'><br>
    <p><input type='text' class='new-answer' name='answer1' placeholder='Option 1'></p>
    <p><input type='text' class='new-answer' name='answer2' placeholder='Option 2'></p>
    <input type="hidden" class="remove">
  </div>

  <a href="#" id='new-option' class="next-option"><img src="/add.png" alt="add"></a><br>
  <button id='next' class="next-question">New Question >></button>
  <button id='submit'>Submit</button>
</div>
