<div id="new-question-container">

</div>
<!--   <input type='text' id='title' placeholder='Title' name='title'><br>
  <input type='text' class='new-question' placeholder='question' name='question1'><br>
  <input type='text' class='new-answer' placeholder='answer' name='answer1'><br>
  <input type='text' class='new-answer' placeholder='answer' name='answer2'><br>
  <button id="new-answer">+</button><br>
  <button id='next'>Add Question</button>
  <button id='submit'>Submit</button> -->


