
<form>
  <input type='text' id='title' placeholder='Title' name='title'>
  <input type='text' class='new-question' placeholder='question' name='question1'>
  <input type='text' class='new-answer' placeholder='answer' name='answer1'>
  <button id='next'>Next</button>
  <button id='submit'>Submit</button>
</form>
