<div id="question-and-buttons">

  <div id="new-question-container">
    <input type='text' id='title' placeholder='Survey Title' name='title'><br>
    <input type='text' class='new-question' placeholder='Question' tag='question' name='question1'><br>
    <p><input type='text' class='new-answer' placeholder='Option 1' name='answer1'></p>
    <p><input type='text' class='new-answer' placeholder='Option 2' name='answer2'></p>
    <input type="hidden" class="remove">
  </div>

  <button id='new-option'>Add an Option</button><br>
  <button id='next'>Add Question</button>
  <button id='submit'>Submit</button>
</div>