<div id="new-question-container-container">
  <input type='text' id='title' placeholder='Title' name='title'><br>
<div id="new-question-container">
  <input type='text' class='new-question' placeholder='question' name='question1'><br>
  <p><input type='text' class='new-answer' placeholder='answer' name='answer1'></p>
  <p><input type='text' class='new-answer' placeholder='answer' name='answer2'></p>
  <input type="hidden" class="remove">
</div>
<button id='new-answer'>+</button><br>
<button id='next'>Add Question</button>
<button id='submit'>Submit</button>
</div>
