<div id="thanks">
		<h2 id="survey-title">Much thank.</h2>
		<h3>Thank you for taking the "<%=@survey.name%>" survey.</h3>
		<p><%= @survey.user.name %>, the owner of the survey, would like to thank you
			for your time.</p>
			<p>As a token of appreciation, please accept the following
			from <%= @survey.user.name %>.
		</p>

		<p>- - - coupon / freebie here - - - </p>
<!-- 		<button type="button">Return to Survey List</button> -->
</div>
